body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);


	color: white;

	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-image: url("i/1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

	-webkit-transition: background-image 1.5s ease-in-out;
	transition: background-image 1.5s ease-in-out;
}
.preload {
	display: none;
}

.wrap {
	width: 55%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
}

.box {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 15%;
}

.blue {
	color:#008CCF;
}
.gold {
	color:#FEBE10;
}
.web {
	color: #C57BB4;
}
.photo {
	color: #00A67F;
}
.video {
	color: #F79131;
}
.product {
	color: #F15D5D;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: white;
}

.box img {
	width: 100%;
}

.icons {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}


.fineprint {
	font-size: 0.7em;
}
